@media screen and (min-width:1000px) {
    .p-footer {
        &__textSp {
            display: none !important;
        }
        &__textPc {
            display: inline-block !important;
        }
        &__textTb {
            display: none !important;
        }
    }
}
@media (min-width: 1000px) and (max-width: 1199px) {
    .p-firstview {
        &__inner {
            padding: 0;
        }
    }
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width:1200px) {
}
@media screen and (min-width:1201px) {
}
